.lots {
  margin: 0 auto;
  padding: 1.5rem 2rem;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 4rem 0;
  animation: lots-appear 1s ease-out forwards;
}

.lots ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes lots-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1440px) {
  .lots {
    grid-template-columns: 1fr;
  }
}
